server {
    listen {{ nginx_port }};
    server_name {{ nginx_server_name }};

    root {{ nginx_web_root }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root {{ nginx_web_root }};
    }

    {% if nginx_access_log is defined %}
    access_log {{ nginx_access_log }};
    {% endif %}

    {% if nginx_error_log is defined %}
    error_log {{ nginx_error_log }};
    {% endif %}
}
