---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  tags:
    - packages
  
- name: Install a list of packages
  ansible.builtin.apt:
    pkg: "{{ common_packages }}"
    state: present
  tags:
    - packages