---
- name: Baseline server configuration
  hosts: servers
  become: true

  tasks:
    - name: Update cash 
      apt: 
        update_cache: true
        cache_valid_time: 3600
    - name: Install a list of packages
      ansible.builtin.apt:
        pkg:
          - curl
          - git 
          - vim
          - htop
          - nginx
    - name: Start nginx server 
      systemd:
        name: nginx
        state: started
        enabled: yes